PORT=18080

DB_HOST=postgres
DB_PORT=5432
DB_NAME=store_abstract
DB_USER=store_user
DB_PASSWORD=store_password

JWT_SECRET=change_me_to_strong_secret

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=store_rabbit
RABBITMQ_PASSWORD=store_rabbit_password

FRONTEND_API_URL=http://localhost:18080

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin12345
